<template>
    <div id="autoreg">
        <button type="button" @click='inputAuto'> Авторизация </button>
    </div>
</template>

<script>
export default { 
  methods:{
    inputAuto(){      
            this.$emit('input-auto');  
    }
   }
  }
</script>

<style>
#autoreg{display: inline-block;}
</style>
