<template>
  <div id="text">
    
    <textarea  style="width: 100%; height: 50px"  v-model="inputMessage" > </textarea>
    <button type="submit"  @click.prevent='inputMessages' >отправить</button>    
    
  </div>
</template>

<script>
export default {  
   data (){
    return {      
      inputMessage:''     
    }
   },
   methods:{
    inputMessages(){      
     this.$emit('input-messages',this.inputMessage);  
     this.inputMessage='';
    }
}
}
</script>