<template>
  <div >
  <div class="messagelist" @click="showMessage(massageitems.id)">

    <div>{{massageitems.subject}} </div>
    <div>{{massageitems.created}} </div>
    <div style="clear: both"></div>
    <Messageitem v-for="(massageitem,index) of massageitems.parts" :key="index"
                 v-bind:massageitem="massageitem"
                 v-bind:index="index" />
  </div>
  </div>
</template>


<script>
import Messageitem from '@/components/Messageitem'

export default {

  props: ['massageitems', 'index'],
  methods:{
    showMessage(index){
      this.$emit('show-message', index);
    }
   },

  components: {
    Messageitem
  },

}

</script>
<style>
.messagelist{
  text-align: left;
  border: black 1px solid;
  margin: 20px;
  padding: 10px;
  background-color: azure;
  border-radius: 5px;
}
.messagelist div:nth-child(1) {
  color: blue;
  font-style: italic;
  display: inline-block;
  float:left;
}
.messagelist div:nth-child(2) {
  color: gray;
  font-style: italic;
  display: inline-block;
  float:right;
}
.messagelist div:nth-child(4) {
  padding: 10px;
  font-weight: bolder;
  font-size: 13px;
}
</style>