<template>
  <div id="right"  v-if="index===messageOption-1">
    <h3>Переписка по "id" - {{messageOption}} </h3>
    <hr>    
    <div id="dialog"  >
         
            <div id="block" class="scroll" ref='messageDisplay'>

            <div v-for="(datainfo) of messageItems.parts"  :key="datainfo.id" class="client"  >        
             <div>{{datainfo.id}}{{datainfo.author}}</div>
             <div>{{datainfo.created}}</div>        
             <div style="clear: both"></div>
             <div>{{datainfo.text}}</div>  
             
            </div>  
            
          </div>  

         <!---------------------------------------------------------------------------------------------------------------->

    <div style="clear: both"></div>
    <hr>
   <div id="text">    
          <form>    
            <label for="name" style="margin-right:10px; margin-bottom:10px">Имя:</label>        
            <select id="name" style="margin-right:10px; margin-bottom:10px" v-model="author" 
           >

            <option  v-for="(datainfo) of authorMess(messageItems.parts)" :key="datainfo.id" >{{datainfo.author}}</option>
            </select>
            <input v-model="author" type="text" style="margin-right:10px; margin-bottom:10px">
            <textarea  style="width: 100%; height: 50px"  v-model="inputMessage" > </textarea>
            <button type="submit"  @click.prevent='IntoMessages22(inputMessage, author, messageItems.parts.length)' >отправить</button>     
           </form>  
    </div>   
    </div>  
  </div>
</template>

<script>
export default {

  data (){
    return {      
      inputMessage:'',
      author:'',
      isActive: true,
    }
   },
  props: ['messageItems', 'index','messageItems.id','messageOption'],

  methods:{   

    IntoMessages22(index1, index2, index3){ 
      
      let InputParts={
              id:index3,
              author: index2,
              text: index1,
              created: Date()
            };             
    
            this.messageItems.parts.push(InputParts);  
            this.$emit('input-messages22',this.messageItems);   
            this.inputMessage=''; 
            this.author='';   
             console.log(1) ; 
    },

     authorMess(a){  
     /* a.forEach(e => {console.log(JSON.stringify(e))});*/     
     return Object.values(a.reduce((acc,cur)=>Object.assign(acc,{[cur.author]:cur}),{}));  
}      
},

  updated(){           
    var elem = this.$refs.messageDisplay;
   /* elem.scrollTop = elem.clientHeight;   */
   elem.scrollTop = 999999999; 
  
},
mounted(){     
},
computed:{   
} 

}
</script>

<style>
#right {
  display: inline-block;
  float: right;
  width:53%;
  height: 92%;
  padding: 2%;
  margin: 0 2% 2% 2%;
  border: black solid 1px;
  text-align: left;
  background-color: honeydew;
  border-radius: 5px;
}
#dialog{ height: 100%}
#text {height: 15%; margin-top: 20px}
button{ border-radius: 5px; padding: 7px 12px; background-color: aquamarine; text-align: center; margin: 25px auto}
textarea{width: 100%; height: 80px; border-radius: 5px}
form input {width: 30%; height: 20px; border-radius: 5px; margin-bottom:10px}
.client{
  display: inline-block !important;
  float: right;
  width: 65%;
  text-align: right;
  border: black solid 1px;
  padding: 10px;
  background-color: lavender  ;
  margin: 10px;
  border-radius: 5px;
}
.admin{
  display: inline-block;
  float: left;
  width: 65%;
  text-align: left;
  border: black solid 1px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}
.client div:nth-child(1), .admin div:nth-child(1)  {
  color: blue;
  font-style: italic;
  display: inline-block;
  float:left;
}
.client div:nth-child(2), .admin div:nth-child(2)  {
  color: gray;
  font-style: italic;
  display: inline-block;
  float:right;
}
.client div:nth-child(4), .admin div:nth-child(4)  {
  padding: 10px;
  font-size: 10px;
  font-weight: bolder;
}
.scroll{
  overflow-block:auto;  
}
#block{
  height: 300px;  
}
.scrollBottom{
  vertical-align: bottom;
}

</style>