<template>
  <div id="dialog" v-if="index===messageOption-1">

   <div v-for="(datainfo,index) of messageItems.parts" :key="index"  class="client"  >
        
        <div>{{datainfo.author+datainfo.id}}</div>
        <div>{{datainfo.created}}</div>
        
        <div style="clear: both"></div>

        <div>
        {{datainfo.text}}
        </div>       

    </div>   
   
  </div>
</template>

<script>
export default { 
  props: ['messageItems', 'index', 'messageOption'],
 
}
</script>


<style>
.client{
  display: inline-block;
  float: right;
  width: 65%;
  text-align: right;
  border: black solid 1px;
  padding: 10px;
  background-color: lavender  ;
  margin: 10px;
  border-radius: 5px;
}
.admin{
  display: inline-block;
  float: left;
  width: 65%;
  text-align: left;
  border: black solid 1px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}
.client div:nth-child(1), .admin div:nth-child(1)  {
  color: blue;
  font-style: italic;
  display: inline-block;
  float:left;
}
.client div:nth-child(2), .admin div:nth-child(2)  {
  color: gray;
  font-style: italic;
  display: inline-block;
  float:right;
}
.client div:nth-child(4), .admin div:nth-child(4)  {
  padding: 10px;
  font-size: 10px;
  font-weight: bolder;
}
</style>