<template>
    <div id="left">
        <h3>Список сообщений - количество {{messageData.length}} </h3>
        <hr>
        <NewList :autor="autor" @input-new="showNew" />
        <Messageitems v-for="(massageitems,index) of messageData" :key="index"  @show-message="showMessage" 
        :massageitems="massageitems" />
    </div>
</template>

<script>
import Messageitems from '@/components/Messageitems'
import NewList from '@/components/NewList'

export default {
  props: ['messageData', 'autor'],
  methods:{
    showMessage(index){      
         console.log(index) ; 
         this.$emit('show-message', index) },

    showNew(){ this.$emit('input-new');},

    inputTema(InputTemaOne){
      
      console.log('Mestema'+JSON.stringify(InputTemaOne));
      this.$emit('input-tema',InputTemaOne);
    }

  },
  components:{Messageitems, NewList}
}
</script>

<style>
#left {
  display: inline-block;
  float: left;
  width:30%;
  height: 92%;
  padding: 2%;
  margin: 0 2% 2% 2%;
  border: black solid 1px;
  background-color: lightgray;
  border-radius: 5px;
}
</style>