<template>
    <div id="Newlist">
        <button type="button" @click='inputNew'> Создать новый разговор</button>
    </div>
</template>

<script>
export default { 
  methods:{
      inputNew(){this.$emit('input-new') }
   }
}
</script>

<style>
#Newlist{
display: inline-block;
}
</style>
