<template>
<div id="pop2" v-if="modalOpenNew "> 

<div id="popap2">
   <h3> Создать новый разговор</h3>
    <form>    
            <!--<label for="name" >Имя:     </label> 
            <input id="name" v-model="author" type="text">  <br> --> 
            <label for="tema" >Тема:       </label>     
            <input id="tema" v-model="tema" type="text"> <br> 
            <button type="button"  @click='InputTema(tema)' >Создать разговор</button>   
            <button type="button"  @click='cloze(3)' >закрыть</button>       
    </form>  

</div>
</div>

</template>

<script>
export default {
  
  data (){
    return {             
      tema:''
    }
   },
  props: ['modalOpenNew','autor', 'messageData'],

  methods:{
    InputTema(tema){       
        let InputTemaOne={
              id: this.messageData.length+1,
              subject: tema,
              created: Date(),
              parts: []               
            };                 
            
        this.$emit('input-tema',InputTemaOne);  
        console.log('Newtema'+JSON.stringify(InputTemaOne));
        this.tema=''; 
    },

    cloze(index){
      this.$emit('modal-cloze', index);    
    }

  },
  
  updated(){},
  mounted(){}

  }
</script>

<style>
#pop2{
display: block;
width: 100%;
height: 100%;
position: fixed;
z-index:5;
background-color: rgba(0,0,0,0.6);
}
#popap2{
display: block;
top: 50px;
left: 35%;
width: 30%;
height: 240px;
position: absolute;
z-index:10;
background-color: rgb(182,282,282);
text-align:  center;
padding: 35px;
}
label{
    width: 50px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
input{
    width: 150px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
</style>