<template>
<div id="pop1" v-if="modalOpenAuto">   
    <div id="popap1">
        <h3> Авторизация</h3>
        <form>    
            <label for="name" >Имя:     </label> 
            <input id="name" v-model="author" type="text">  <br>  
            <label for="email" >Почта:       </label>     
            <input id="email" v-model="email" type="text"> <br> 
            <button type="button"  @click='Access(author, email)' >отправить</button>               
            <button type="button"  @click='cloze(1)' >закрыть</button> 
        </form>  
    </div>
</div>
</template>

<script>
export default {  
  data (){
    return {             
      author:'',
      email:'',
      
    }
   },
  props: ['modalOpenAuto','RegAuto'],

  methods:{

    Access(index1, index2){      
        let AccessAuto={
              author: index1,
              email: index2,
              active: false   
            };     
      
        this.RegAuto.forEach(function(elem) {
              if   (elem.author==AccessAuto.author && elem.email==AccessAuto.email) {              
                    console.log('Авторизировался'); return AccessAuto.active=true}          
              else {console.log('Не авторизировался'); return AccessAuto.active=false}	
        });  
        
        if (AccessAuto.active==true) {
          this.$emit('modal-access',this.author,this.email)
        }
          
          this.email=''; 
          this.author='';   
    },   

    cloze(index){this.$emit('modal-cloze', index);}
  },

 /* watch:{
      active(){
         console.log('AccessAuto author and email 1111111111111');
          this.$emit('modal-access');
          
      }
    }*/
  }
</script>

<style>
#pop1{
display: block;
width: 100%;
height: 100%;
position: fixed;
z-index:5;
background-color: rgba(0,0,0,0.6);
}
#popap1{
display: block;
top: 50px;
left: 35%;
width: 30%;
height: 240px;
position: absolute;
z-index:10;
background-color: rgb(182,282,282);
text-align:  center;
padding: 35px;
}
label{
    width: 50px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
input{
    width: 150px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
</style>
