<template>
    <div id="pop" v-if="modalOpenReg "> 
        <div id="popap">
            <h3> Регистрация</h3>
                <form>    
                    <label for="name" >Имя:     </label> 
                    <input id="name" v-model="author" type="text">  <br>  
                    <label for="email" >Почта:       </label>     
                    <input id="email" v-model="email" type="text"> <br> 
                    <button type="button"  @click='Registr(author, email)' >регистрация</button>   
                    <button type="button"  @click='cloze(2)' >закрыть</button>       
                </form>   
        </div>
    </div>
</template>

<script>
export default {  
  data (){
    return {             
      author:'',
      email:''
    }
   },
  props: ['modalOpenReg'],

  methods:{
    Registr(index1, index2){ 
      
      let InputReg={
              author: index1,
              email: index2,
              created: Date()
            };                 
            
            this.$emit('input-reg2',InputReg);               
            this.email=''; 
            this.author='';   
    },

    cloze(index){this.$emit('modal-cloze', index);}
  },
 
  updated(){},
  mounted(){}

  }
</script>

<style>
#pop{
display: block;
width: 100%;
height: 100%;
position: fixed;
z-index:5;
background-color: rgba(0,0,0,0.6);
}
#popap{
display: block;
top: 50px;
left: 35%;
width: 30%;
height: 240px;
position: absolute;
z-index:10;
background-color: rgb(182,282,282);
text-align:  center;
padding: 35px;
}
label{
    width: 50px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
input{
    width: 150px;
    display: inline-block;
    margin-right:10px; 
    margin-bottom:10px
}
</style>
