<template>
    <div id="regis">
        <button type="button" @click='inputReg'> Регистрация </button>
    </div>
</template>

<script>
export default {
  methods:{
    inputReg(){      
            this.$emit('input-reg');   
    }
   }
  }
</script>

<style>
#regis{display: inline-block;}
</style>
