<template>
  <div id="app">
    <PopUp :modalOpenAuto="modalOpenAuto" @modal-cloze="modalCloze" :RegAuto="RegAuto" @modal-access="modalAccessplus"/>
    <PopUpReg :modalOpenReg="modalOpenReg" @input-reg2="inputReg2" @modal-cloze="modalCloze"/>
    <NewPopUp :modalOpenNew="modalOpenNew" @modal-cloze="modalCloze" @input-tema="inputTema" :messageData="messageData"/>

    <div class="" v-if="modalAccess">    
       <MessageList :messageData="messageData" :autor="autor" @show-message="showMessage" @input-new="showNew" />
       <Message v-for="(messageItems, index) of messageData" :key="messageItems.id" 
       :messageItems="messageItems" :index="index" :messageOption="messageOption" @input-messages22="inputMessages44"/>  
    </div>

    <div class="ar" v-else>
      <Autoreg @input-auto="showAuto"/> 
      <Registr @input-reg="showReg"/>
    </div>
      
       
    
  </div>
</template>

<script>
import Autoreg from '@/components/Autoreg'
import Registr from '@/components/Registr'
import MessageList from '@/components/MessageList'
import Message from '@/components/Message'
import PopUp from './components/PopUp.vue'
import PopUpReg from './components/PopUpReg.vue'
import NewPopUp from './components/NewPopUp.vue'

export default {
  name: 'App',
  data (){
    return {    
      modalAccess:false,
      modalOpenAuto:false,
      modalOpenReg:false,
      modalOpenNew:false,
      RegAuto:[], 
      messageOption: 1,    
      access:[],  
      autor:'',
      email:'',      
      messageData: [
        {
          id: 1,
          subject: 'Простой запрос',
          created: '2019-08-01 23:59',
          parts: [
            {
              id: 1,
              author: 'vasya',
              text: 'Привет, как дела?',
              created: '2019-08-01 23:59',
            },
            {
              id: 2,
              author: 'petya',
              created: '2019-08-02 01:20',
              text: 'Привет, все хорошо, спасибо!',
            },
            {
              id: 3,
              author: 'petya',
              created: '2019-08-02 05:20',
              text: 'А у тебя?',
            },
          ]
         },
        {
          id: 2,
          subject: 'Вопрос по домену',
          created: '2016-03-02 14:19',
          parts: [
            {
              id: 1,
              author: 'petr',
              created: '2019-08-06 12:20',
              text: 'Здравствуйте, тут есть кто-нибудь?',
            }, 
            {
              id: 2,
              author: 'vasiliy',
              created: '2019-08-06 12:34',
              text: 'Да, я вас слушаю!',
            },
            
            {
              id: 3,
              author: 'petr',
              created: '2019-08-06 12:38',
              text: 'Помогите мне настроить домен!',
            },
           
          ]
        },
      ]
    }
  },

  methods:{
    showMessage(index){
      this.messageOption=index
    },
    inputMessages44(index){            
      this.messageData[this.messageOption-1].push(index); 
    },
    showAuto(){
      this.modalOpenAuto=true;  
    },    
    showReg(){
      this.modalOpenReg=true      
    },
    showNew(){
      this.modalOpenNew=true      
    },
    modalCloze(index){
      if (index==1){this.modalOpenAuto=false;}
      else if (index==2){this.modalOpenReg=false;}     
      else if (index==3){this.modalOpenNew=false;}      
    },
    inputReg2(index){
      this.RegAuto.push(index); 
      this.RegAuto.forEach(e => {console.log(JSON.stringify(e))});
    },  
    modalAccessplus(autor,email){       
      this.modalAccess=true;   
      this.autor=autor;
      this.email=email;
      let accessAutor={autor,email};
      this.access.push(accessAutor);       
    },   
    inputTema(InputTemaOne){
      this.messageData.push(InputTemaOne); 
     console.log('APPtema'+JSON.stringify(InputTemaOne));
    }
  },

computed: {
          /*messageDataId: function () {
              return this.messageData.length 
          }
          
          fullName: {
            get: function() {
              return this.messageData[this.messageOption-1].parts;
               
            },
            
            set: function(value) {
               this.messageData[this.messageOption-1].parts.push(value);                
               console.log('APP-Set33'+value) ; 
               console.log('APP-Set33 fullName'+this.fullName) ; 
            }
          }  */
        },
      
  
  components: {PopUp,PopUpReg,NewPopUp,MessageList,Message,Autoreg,Registr}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;  
}
.ar{width: 30%;padding-left: 2%;margin-left: 2%;}
body{margin: 0;}
</style>
